doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
  body
    .header-container
        .header
            .logo-container
                img(src='/images/logo.png')
            

    .content-container
        block content
