extends layout

block content
    h1= process.name
    h2= process.id

    .process-page
        .logs
            each l in logs
                p(class = l.type)
                    span= l.timestamp
                    | #{l.message}