@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto-regular', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .header-container {
        .header {
            background: #ddd;
            padding: 10px 20px;
            text-align: center;

            .logo-container {
                display: inline-block;
            }
        }
    }

    .content-container {
        max-width: 800px;
        margin: 0 auto;

        .index-page {
            .processes-container {
                background: #eee;
                padding: 10px;

                .process {
                    height: 100px;
                    background: #fff;
                    border: 1px solid #ddd;
                    margin: 5px;
                    padding: 10px;
                    display: flex;
                    transition: all .5s;

                    &.placeholder {
                        height: 0;
                        padding: 0;
                        margin: 0;
                        border: 0;
                    }

                    &.pending {
                        border-left: 7px solid #FCE100;
                    }

                    &.running {
                        border-left: 7px solid #0078D7;
                        height: 130px;
                    }

                    &.canceled {
                        border-left: 7px solid #767676;
                    }

                    &.error {
                        border-left: 7px solid #F03A17;
                    }

                    &.finished {
                        border-left: 7px solid #7CD300;
                    }

                    .info {
                        flex: 3;
                        position: relative;
                        border-right: 1px solid #ddd;

                        .title {
                            .runnable {
                                font-size: 11px;
                                color: #777;
                            }
                        }

                        .dates-info {
                            position: absolute;
                            top: 3px;
                            right: 0;
                            font-size: 11px;

                            .date-info {
                                display: inline-block;
                                margin: 0 8px;
                                color: #777;
                                i {
                                    color: #444;
                                }
                            }
                        }

                        .progress-wrapper {
                            width: 100%;
                            position: absolute;
                            bottom: 5px;
                            margin: 0 auto;
                            z-index: 0;
                            font-size: 11px;

                            .progress {
                                width: 100%;
                                list-style: none;
                                list-style-image: none;
                                padding: 0;
                                opacity: 1;
                                transition: opacity .7s;

                                &.hidden {
                                    opacity: 0;
                                }
                            }
                            
                            .progress li {
                                float: left;
                                text-align: center;
                                position: relative;
                            }
                            
                            .progress .name {
                                display: block;
                                text-align: center;
                                margin-bottom: 5px;
                                color: #aaa;
                                opacity: 0.3;
                            }
                            
                            .progress .step {
                                color: black;
                                background: linear-gradient(to right, yellowgreen 50%, silver 50%);
                                background-size: 200% 200%;
                                background-position: right center;
                                border-radius: 50%;
                                width: 16px;
                                height: 16px;
                                display: inline-block;
                                z-index: 0;
                                transition: all .3s 450ms;
                            }
                            
                            .progress .step span {
                                opacity: 0.3;
                            }
                            
                            .progress .active .name,
                            .progress .active .step span {
                                opacity: 1;
                            }
                            
                            .progress .step:before {
                                content: "";
                                display: block;
                                background: linear-gradient(to right, yellowgreen 50%, silver 50%);
                                background-size: 200% 200%;
                                background-position: right center;
                                height: 6px;
                                width: calc(50% - 6px);
                                position: absolute;
                                bottom: 9px;
                                left: 0;
                                z-index: -1;
                                transition: all .3s 218ms;
                            }
                            
                            .progress .step:after {
                                content: "";
                                display: block;
                                background: linear-gradient(to right, yellowgreen 50%, silver 50%);
                                background-size: 200% 200%;
                                background-position: right center;
                                height: 6px;
                                width: calc(50% - 6px);
                                position: absolute;
                                bottom: 9px;
                                right: 0;
                                z-index: -1;
                                transition: all .3s;
                            }
                            
                            .progress li:first-of-type .step:before {
                                display: none;
                            }
                            
                            .progress li:last-of-type .step:after {
                                display: none;
                            }
                            
                            .progress .done .step,
                            .progress .done .step:before,
                            .progress .done .step:after,
                            .progress .active .step,
                            .progress .active .step:before {
                                background-position: left center;
                            }
                        }

                        .errors-warnings {
                            text-transform: uppercase;
                            font-size: 16px;
                            opacity: 1;
                            transition: opacity .7s;
                            position: absolute;
                            right: 0;
                            bottom: 10px;

                            span {
                                margin: 0 10px;
                                > span {
                                    font-size: 20px;
                                    margin: 0 5px;
                                }
                            }

                            .errors {
                                color: tomato;
                            }

                            .warnings {
                                color: #e2ca00;
                            }

                            &.hidden {
                                opacity: 0;
                            }
                        }

                    }

                    .actions {
                        flex: 1;
                        position: relative;

                        .main-action {
                            text-align: center;
                            transition: all .7s;
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 14px;
                            
                            i {
                                color: #8764B8;
                                transition: .1s all;
                                cursor: pointer;

                                &:hover {
                                    color: #B146C2;
                                    transform: scale(1.2);
                                }
                            }
                        }

                        .details-action{
                            text-align: center;
                            transition: all .7s;
                            padding-top: 10px;
                            font-size: 32px;
                            
                            i {
                                color: #aaa;
                                transition: .1s all;
                                cursor: pointer;

                                &:hover {
                                    color: #B146C2;
                                    transform: scale(1.2);
                                }
                            }
                        }

                        .downloads {
                            width: 100%;
                            text-align: center;
                            position: absolute;
                            bottom: 0;

                            a {
                                font-size: 12px;
                                font-weight: normal;
                                color: #999;
                                text-decoration: none;
                                padding: 0 5px;

                                &:hover {
                                    color: #666;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }

        .process-page {

            position: relative;

            .right {
                float: right;
            }

            .title {

                h1 {
                    display: inline-block;
                }

                .downloads {
                    display: inline-block;

                    a {
                        font-size: 12px;
                        font-weight: normal;
                        color: #999;
                        text-decoration: none;
                        padding: 0 5px;

                        &:hover {
                            color: #666;
                            text-decoration: underline;
                        }
                    }
                }
            }

            .info {
               
                height: 100px;
                position: relative;

                .progress-wrapper {
                    width: 100%;
                    position: absolute;
                    top: 20px;
                    margin: 0 auto;
                    z-index: 0;
                    font-size: 11px;

                    .progress {
                        width: 100%;
                        list-style: none;
                        list-style-image: none;
                        padding: 0;
                        opacity: 1;
                        transition: opacity .7s;

                        &.hidden {
                            opacity: 0;
                        }
                    }
                    
                    .progress li {
                        float: left;
                        text-align: center;
                        position: relative;
                    }
                    
                    .progress .name {
                        display: block;
                        text-align: center;
                        margin-bottom: 5px;
                        color: #aaa;
                        opacity: 0.3;
                    }
                    
                    .progress .step {
                        color: black;
                        background: linear-gradient(to right, yellowgreen 50%, silver 50%);
                        background-size: 200% 200%;
                        background-position: right center;
                        border-radius: 50%;
                        width: 16px;
                        height: 16px;
                        display: inline-block;
                        z-index: 0;
                        transition: all .3s 450ms;
                    }
                    
                    .progress .step span {
                        opacity: 0.3;
                    }
                    
                    .progress .active .name,
                    .progress .active .step span {
                        opacity: 1;
                    }
                    
                    .progress .step:before {
                        content: "";
                        display: block;
                        background: linear-gradient(to right, yellowgreen 50%, silver 50%);
                        background-size: 200% 200%;
                        background-position: right center;
                        height: 6px;
                        width: calc(50% - 6px);
                        position: absolute;
                        bottom: 9px;
                        left: 0;
                        z-index: -1;
                        transition: all .3s 218ms;
                    }
                    
                    .progress .step:after {
                        content: "";
                        display: block;
                        background: linear-gradient(to right, yellowgreen 50%, silver 50%);
                        background-size: 200% 200%;
                        background-position: right center;
                        height: 6px;
                        width: calc(50% - 6px);
                        position: absolute;
                        bottom: 9px;
                        right: 0;
                        z-index: -1;
                        transition: all .3s;
                    }
                    
                    .progress li:first-of-type .step:before {
                        display: none;
                    }
                    
                    .progress li:last-of-type .step:after {
                        display: none;
                    }
                    
                    .progress .done .step,
                    .progress .done .step:before,
                    .progress .done .step:after,
                    .progress .active .step,
                    .progress .active .step:before {
                        background-position: left center;
                    }
                }

            }

            .logs {
                width: 100%;
                background: #223;
                padding: 20px 10px;
                font-size: 12px;
                list-style: none;

                li {
                    font-family: monospace;

                    span {
                        color: #556;
                        font-family: monospace;
                    }

                    &.none {
                        color: #666;
                    }

                    &.log {
                        color: #aaa;
                    }

                    &.debug {
                        color: dodgerblue;
                    }

                    &.warn {
                        color: yellow;
                    }

                    &.error {
                        color: tomato;
                    }

                    &.update {
                        color: mediumseagreen;
                    }
                }
            }
        }
    }

}