* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    .header-container {
        .header {
            background: #ddd;
            padding: 10px 20px;
            text-align: center;

            .logo-container {
                display: inline-block;
            }
        }
    }

    .content-container {
        .index-page {
            .processes-container {
                background: #eee;
                max-width: 900px;
                padding: 10px;
                margin: 0 auto;

                .process {
                    height: 100px;
                    background: #ddd;
                    margin: 5px;
                    padding: 10px;
                }
            }
        }
    }

}